<div id="content">

	{include file="admin_menu.htm"}
	
	<div class="admin-form">
		<form method="post" action="{$smarty.const.WEB_PATH}admin_panel/edit_model/{$model.modele_id}">
			<label><strong>Edit marque:</strong></label><br/>
			<select style="width: 300px;" id="marque_id" class="select-control" name="marques" >
				<option value="{$marqueId.0.marque_id}">{$marqueId.0.marque_name}</option>
	   			{foreach from=$marques item=marque}
   					<option value="{$marque.marque_id}">{$marque.marque_name}</option>
				{/foreach}
			</select>
			<span class="error">{$errors.marque}</span><br/><br/>
			<label><strong>Edit modele:</strong></label><br/>
			<input type="text" placeholder="add modele" name="add-model" value="{$model.modele_name}" />
			<span class="error">{$errors.model}</span><br/><br/>
			<input class="btn" type="submit" value="Edit" />
		</form>
	</div>
	
	
</div>