{% extends 'base.html.twig' %}

{% block body %}

    <h1>Марки на автомобили:</h1>
    
    <table border=1>
        <thead>
            <tr>
                <th>ID</th>
                <th>Двигател</th>
                {# <th>Изтриване</th> #}
            </tr>
        </thead>
        <tbody>
        {% for engine in engines %}
            <tr>
                <td><a href="{{ path("edit_car_engine", {id: engine.id}) }}">{{ engine.id }}</a></td>
                <td>{{ engine.name }}</td>
                {# <td><a href="{{ path("delete_car_mark", {id: engine.id}) }}">X</a></td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table> 

  
{% endblock %}
