<div id="content">
	
	<h1>Welcome to our blog</h1>
	<hr/>
	
	<div class="cars-blog">
	
		<div class="blogs left">
		
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car1.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car2.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car3.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car4.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car5.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car6.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car7.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div class="blog-car-info">
				<img src="{$smarty.const.WEB_PATH}images/blog/blog-car8.jpg" alt="picture1" />
				<div style="float: left; width: calc(100% - 204px)">
					<p><strong>Here comes the blog title</strong></p>
					<p>
						<span class="date-blog"><i>November 1, 2012</i></span>
						<span class="user-blog"><i>Admin</i></span>
						<span class="edit-car-blog"><i>Cars, vehicle</i></span>
						<span class="comment-blog"><i>7 Coments</i></span>
					</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley of type. 
					</p>
					<span class="read-more">Read more</span>
				</div>
				<div class="clear"></div>
				<hr/>
			</div>
			
			<div style="float: right;" class="paginator">
				paginator
			</div>
			<div class="clear"></div>
			
		</div>
		
		<div class="blogs-right-sidebar left">
			<div class="blog-links-rightbar">
				<strong style="font-size: 22px;">Links list</strong>
				<hr/>
				<ul>
					<li>Lorem ipsum dolor</li>
					<li>Dolor sit amet, consectetur</li>
					<li>Amet, adipiscing elit</li>
					<li>Elit dictum, nisi id vulput</li>
				</ul>
			</div>

			<div class="blog-text-widget">
				<strong style="font-size: 22px;">Text widget</strong>
				<hr/>
				<p style="margin-top: 14px;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

				<span class="read-more">Read more</span>
			</div>
			
			<div class="blog-text-widget">
				<strong style="font-size: 22px;">Featured work</strong>
				<hr/>
				
				<img style="margin-top: 12px;" src="{$smarty.const.WEB_PATH}images/content/car-feature-work.jpg" alt="picture1" alt="feature-work"/>
				<p style="margin-top: 11px;">Lorem Ipsum has been the industry's.
				</p>

				<span class="read-more">Read more</span>
			</div>
		</div>
		<div class="clear"></div>
	
	</div>


</div> <!-- CONTENT DIV!!! -->