@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,700);
/*	----------------------------------------------------------------
*	HTML defaults
*/
html{background: #fff;}
body{font-size:14px;line-height:13px;font-family: Roboto;}
input[type=checkbox]{border:0;}
img{vertical-align:text-bottom;}
sup{font-size:.6em;vertical-align:top;}

a:link,a:visited{color:#0072CF;}
a:hover,a:active{color:#000;}

/*	----------------------------------------------------------------
*	Useful classes
*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;float:none;}
.clear:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.upper {text-transform: uppercase;}
.bold {font-weight: bold;}
.tcenter{text-align: center;}
.tleft{text-align: left;}
.tright{text-align: right;}


/*	================================================================
*	block:	HEADER
*/
#header{
	padding:0px;
	font-family: Roboto;
	font-size: 11px;
	background-color: #1d242c;
	color: #fff;
	margin-top: 60px;
	margin-bottom: 35px;
}
.header-img {
	width: 100%;
}

/*	================================================================
*	block:	NAVIGATION
*/
div.navigation {
	background-color: #f4f4f4;
	line-height: 40px;
}
div.navigation ul.menu {
	text-align: center;
}




ul.menu li a img {
	bottom: 4px;
    position: relative;
}
div.navigation ul.menu li{
	display: inline-block;
	padding: 0px 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#1d242c;
	font-size:14px;
	font-weight:bold;
	position: relative;
}
ul.menu li:after {
    content: " > ";
	position: absolute;
    right: -5px;
    top: 5px;
	color: #8a96b0;
}
ul.menu li a {
	color: #000000;
}
.menu li:last-child:after {
    content: "";
}

/*	===============================================================
*	Page: Administrativen panel:
*/
.admin {
	margin-bottom: 30px;
}
.admin li {
    display: inline-block;
    padding: 0px 9px;
    color: #1d242c;
    font-size: 14px;
    font-weight: bold;
}
.admin li:after {
    content: " >>";
	color: #0072CF;
}
.admin li a {
    margin-right: 20px;
}
.admin li:first-child {
	padding-left: 0px;
}
.admin li:last-child:after {
	content: " ";
}
.admin-form {
	font-size: 14px;
}
.admin-form .select-control {
	margin-bottom: 15px;
}
.admin-form input[type=text] {
    width: 300px;
    padding: 6.5px 5px;
    line-height: 1.25;
    color: #495057;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}    
.admin-form input[type=submit] {
    padding: 5.5px 40px;
}
.admin-form .error {
	color: red;
}
.messageSend {
	font-size: 20px;
	margin: 20px 0px;
	color: #6495ED;
}
.messageDelete {
	color: red;
}


/*	===============================================================
*	Page: search
*/

.section-find-car {
	text-align: center;
}
.section-find-car h1 {
	font-size: 40px;
	margin-bottom: 24px;
	font-weight: 400;
}
.carrosserie button {
	background-color: transparent;
    border: none;
	width: 230px;
	padding: 50px 0px 10px;
	text-align: center;
	margin-bottom: 20px;
	background-repeat: no-repeat;
    background-position: center 10px;
	color: #8696af;
}
.carrosserie button:hover,
.carrosserie button:active {
	border: 2px solid #000000;
    border-radius: 2px;
}
.carrosserie button {
	margin-right: 72px;
}
.carrosserie button:nth-child(3n+3) {
	margin-right: 0px;
	margin-bottom: 20px;
}
.pickup {
	background-image: url(/../images/icons/pickup-icon.png);
}
.suv {
	background-image: url(/../images/icons/suv-icon.png);
}
.coupe {
	background-image: url(/../images/icons/coupe-icon.png);
}
.convertible {
	background-image: url(/../images/icons/convertible-icon.png);
}
.sedan {
	background-image: url(/../images/icons/sedan-icon.png);
}
.minicar {
	background-image: url(/../images/icons/minicar-icon.png);
}
#search-form {
	background-color: #f4f4f4;
	padding: 75px 10px 20px;
}
.select-control {
	width: 100%;
    padding: 17px 20px;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 35px;
}
.select-control option {
	padding: 25px 0px;
}
#slider12a .slider-track-high, #slider12c .slider-track-high {
	background: green;
}

#slider12b .slider-track-low, #slider12c .slider-track-low {
	background: red;
}

#slider12c .slider-selection {
	background: yellow;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
.slider-horizontal  {
	width: 100%!important;
}
.slider-handle {
	background-image: none!important;
	background-color: #d01818!important;
	box-shadow:0px 0px 0px 7px #ffffff!important;
    width: 13px!important;
    height: 13px!important;
	top: 3px!important;
}
.slider-selection { 
	background-image: none!important;
	background-color: #444444!important;	
}
.btn-search {
	padding: 20px;
	color: #ffffff;
	font-weight: bold;
	background-color: #d01818;
	border: none;
	border-radius: 3px;
}


* {box-sizing:border-box}

/*	================================================================
*	block:	CONTENT
*/

#content{
	min-height: 300px;
	margin: 20px 0px 20px 0px;
	width: 1140px;
	margin: 0 auto;
	}
#content .section{
	width:100%;
	max-width:1000px;
	margin:auto;
}
.menu {
	width: 980px;
	margin: 0 auto;
}
.menu a:first-child {
	padding-left: 0px;
}
h1 {
	font-size: 30px;
	margin: 15px 0px;
}
h2{
	font-size: 20px;
	display: inline-block;
	margin-bottom: 17px;
	font-weight: normal;
}
h3{
	font-size: 18px;
	margin: 7px 0px 6px;
	font-weight: 600;
}
hr {
	border-color: #d5d5d5;
    opacity: 0.4;
}
.clear {
	clear: both;
}
table {
    width:100%;
}

table, th, td {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
	background-color: black;
	color: white;
}

table .text-center {
	text-align: center;
}
.table thead th {
	border-color: black!important;
}
.paginator {
    text-align: center;
	font-size: 16px;
}
.paginator div {
	display: inline-block;
	margin-right: 10px;
}
.prev, .next {
    position: relative;
	padding: 10px;
}


/*	================================================================
*	block:	slideshow-container 
*/
    /*
    .jssorb05 div           (normal)
    .jssorb05 div:hover     (normal mouseover)
    .jssorb05 .av           (active)
    .jssorb05 .av:hover     (active mouseover)
    .jssorb05 .dn           (mousedown)
    */


.left,	
.left-sidebar {
	float: left;
}
.left-sidebar {
	width: 750px;
}
.right,
.right-sidebar {
	float: right;
}
.right-sidebar {
	width: calc(100% - 780px);
	margin-left: 30px;
}
.clear {
	clear: both;
}
hr {
	margin: 30px 0px;
}
.options a {
	height: 18px;
	padding-left: 25px;
	color: #9a9ea1;
}
.address {
    background-image: url(/../images/icons/address-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
	color: #9a9ea1;
	width: 50%;
}
.cars-compare {
	background-image: url(/../images/icons/cars-compare.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
}
.car-brochure {
	background-image: url(/../images/icons/car-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
}
.car-share {
	background-image: url(/../images/icons/share-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
}
.options div a {
	margin-right: 15px;
	color: #000;
}
.price {
	background-color: #d01818;
	padding: 18px 55px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}
.car-slider-items-info {
	padding: 25px 35px;
	background-color: #f4f4f4;
	font-weight: bold;
}
.car-slider-items-info div {
	margin: 18px 0px 15px 0px;	
	border-bottom: 1px solid #dddddd;
}
.car-slider-items-info span:first-child {
	color: #899498;
}
.economy-right {
	color: #d01818;
	font-weight: bold;
}
}
.section-slider {
	width: 750px;
}
.car-economy-section,
.vehicle-demand-section {
	padding: 25px 20px 25px 65px;
    border: 3px solid #f4f4f4;
}
.car-economy-section {
	margin-top: 25px;
	margin-bottom: 8px;
	background-image: url(/../images/icons/car-razhod-icon.png);
	background-repeat: no-repeat;
    background-position: 25px 14px;
	font-size: 16px;
}
.vehicle-demand-section {
	margin-bottom: 25px;
	background-image: url(/../images/icons/car-demand-icon.png);
	background-repeat: no-repeat;
    background-position: 25px 18px;
}
.economy-right {
	float: right;
}
.economy-value,
.vehicle-demand-valueTxt {
	font-size: 22px;
	font-weight: bold;
}
.call-dealer {
	padding: 35px 70px;
	background-color: #161616;
	color: #ffffff;
	font-weight: bold;
	border-radius: 2px;
	border-bottom: 3px solid #d01818;
	background-image: url(/../images/icons/tel-deliver.png);
	background-repeat: no-repeat;
    background-position: 29px 28px;
	margin-bottom: 26px;
}
.call-dealer .name {
	font-size: 18px;
	margin-bottom: 12px;
}
.call-dealer .phone {
	font-size: 22px;
}
.finance-calc {
	padding: 35px 35px;
	border-radius: 2px;
	border: 3px solid #f4f4f4;
	font-size: 13px;
	font-weight: bold;
}
.finance-calc-header {
	padding: 3px 0px 3px 54px;
	background-image: url(/../images/icons/calc-finance-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 0px;
	margin-bottom: 40px;
}
.finance-calc-header div {
	font-size: 13px;
	color: #9a9ea1;
}
.finance-calc-group label {
	display: block;
}
.finance-calc-group input {
	width: 100%;
    padding: 12px 15px;
    border-radius: 3px;
	border: 1px solid #d5d5d5;
}
.finance-calc .btn {
	padding: 15px 23px;
	background-color: #161616;
	color: #ffffff;
	border: 0px;
	border-radius: 3px;
	font-weight: bold;
}
.main {
  font-family:Arial;
  width:750px;
  display:block;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
.slick-slide img {
	width: 750px;
	height: 400px;
}
.thumbnails-item {
	width: 150px!important;
	//height: 85px;
}
.thumbnails .slick-slide img {
	width: 98%;
	height: 85px;
}
.slick-arrow {
	display: none!important;
}
.main:hover .slick-arrow {
	display: block!important;
}
.section-overview {
	margin: 63px 0px 50px 0px;
}
.header-overview {
	font-weight: bold;
	margin-top: 13px;
	margin-bottom: 10px;
}
.accordion {
    background-color: #ffffff;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	background-image: url(/../images/icons/plus-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 2px;
	padding-left: 30px;
}
.panel {
    display: block;
    overflow: hidden;
}
.section-related-cars {
	margin-top: 30px;
}
.active {
	background-image: url(/../images/icons/minus-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 11px;
}
/* Style the tab */
.tab {
    background-color: #d01818;
	border-radius: 3px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #d01818;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.activeTabs {
    background-color: #f4f4f4;
	box-shadow:0px -3px!important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 45px;
    border-top: none;
	background-color: #f4f4f4;
    line-height: 24px;
}
#SPECIFICATIONS {
    display: block;
}
.tablinks:first-child {
	margin-left: 15px;
}
.car-more-function-list li {
	width: 49%;
	display: inline-block;
	float: left;
	padding-left: 20px;
	background-image: url(/../images/icons/square.png);
	background-repeat: no-repeat;
    background-position: 0px 11px;
	line-height: 30px;
}
.car-more-function-list li:last-child::after {
	clear: both;
}
.related-car-item {
	position: relative;
	width: 350px;
	margin-top: 70px;
	float: left;
	margin-right: 30px;
}
.related-car-item:last-child {
	margin-right: 0px;
}
.related-car-item img {
	width: 360px;
	height: 220px;
}
.related-car-item .related-car-price {
	position: absolute;
    top: 166px;
    right: 10px;
	width: 175px;
	background-color: #d01818;
	color: #ffffff;
	padding: 15px;
}
.related-car-item .related-car-price span:first-child {
	font-size: 16px;
	font-weight: bold;
}
.related-car-item .related-car-price span:last-child {
	font-size: 12px;
}
.related-car-options {
	border: 1px solid #eeeeee;
	margin-top: 10px;
}
.related-car-options span {
	border-right: 1px solid #eeeeee;
	display: block;
	float: left;
}
.related-car-options span:nth-child(1),
.related-car-options span:nth-child(2) {
	padding: 15px 22px;
}
.related-car-options span:nth-child(3) {
	padding: 15px 10px;
}
.related-car-options span:nth-child(4) {
	padding: 15px 12px;
	border-right: none;
}
.related-car-item .section-overview {
	margin-top: 50px;
}
.paginator-arrow {
	text-align: center;
	margin-bottom: 100px;
}
.paginator-arrow span {
	padding: 9px 14px 11px;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	margin-right: 7px;
}
.section-result {
	margin: 50px 0px 20px;
}
.cars-result {
	padding-top: 6px;
	border-top: 4px solid #d01818;
	margin-bottom: 20px;
}
.cars-result img {
	width: 150px; 
	height: 120px;
	border: 4px solid #f2f2f2;
	margin-right: 10px;
}
.cars-result .car-name {
	width: 60%;
}
.cars-result .car-price {
	background-color: #d01818;
	padding: 10px 17px;
	font-weight: bold;
	color: #ffffff;
	margin-left: 10px;
}
option {
	height: 30px;
    padding: 30px 0px;
    line-height: 20px;
    margin: 10px 0px;
}
.section-find-car option[value=select] { 
    display: none;
}





/*	================================================================
*	block:	FOOTER
*/
.footer{
	padding: 35px 0px;
	margin-top: 20px;
	font-family: Roboto;
	font-size: 11px;
	background-color: #160D0E;
	color: #86867c;
	line-height: 25px;
}
.footer .section{
	width: 1140px;
    margin: 0 auto;
}
.logo-footer,
.top-brand,
.categories-footer {
	width: 22.3%;
    margin-right: 33px;
}
.address-info-footer {
	width: 22.3%;
}
.social-icon-footer img {
	margin-right: 22px;
}
.footer h3 {
	color: #ffffff;
	font-weight: bold;
}
.footer ul li {
	width: 49%;
	display: inline-block;
	float: left;
	padding-left: 20px;
	background-image: url(/../images/icons/li-arrow-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
	line-height: 30px;
}
.categories-footer ul li {
	width: 100%;
	float: none;
}
.address-info-footer {
	color: #ffffff;
}
.email-foot {
	padding-left: 30px;
	background-image: url(/../images/icons/email-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
}
.address-foot {
	padding-left: 30px;
	background-image: url(/../images/icons/address-icon-wh.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
}
.time-foot {
	padding-left: 30px;
	background-image: url(/../images/icons/time-icon.png);
	background-repeat: no-repeat;
    background-position: 0px 8px;
}


	
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/* for 1400px or less */
@media screen and (max-width: 1400px) {
	
}

/* for 1170px or less */
@media screen and (max-width: 1170px) {

body {
	margin: 0 auto!important;
}

.header-img,
.navigation,
.footer,
#header,
#content,
body,
.menu {
	width: 923px;
}
.section {
	width: 877px!important;
}
.left-sidebar,
.right-sidebar {
	width: 890px!important;
}
.left-sidebar {
	float: none;
}
.right-sidebar {
	float: none;
	margin-left: 0px;
}
.section-related-cars,
.paginator-arrow {
	width: 905px;
}
.paginator-arrow {
	margin-bottom: 40px;
}
.related-car-item img {
	height: 187px;
}
.related-car-item,
.related-car-item img {
	width: 271px!important;
}
.related-car-price {
	top: 135px!important;
}
.related-car-options span:nth-child(1), 
.related-car-options span:nth-child(2) {
    padding: 15px 7px!important;
}
.related-car-options span:nth-child(3), 
.related-car-options span:nth-child(4) {
    padding: 15px 6px;
}
.logo-footer, .top-brand, .categories-footer, .address-info-footer left {
    width: 21%;
}
.cars-result .car-name {
	width: 50%!important;
}
	
}

/* for 940px or less */
@media screen and (max-width: 940px) 
{

.header-img,
.navigation,
.footer,
#header,
#content,
body,
.menu,
.section,
.section-slider,
.main,
.slider-for img,
.section-related-cars,
.paginator-arrow,
.right-sidebar {
	width: 560px!important;
}
.section-overview,
.section-tabs,
.right-sidebar,
.section-related-cars {
	padding: 0px 15px;
}
.right-sidebar {
	margin-top: 30px;
}
.slick-list:first-child,
.slick-track:first-child {
	height: 400px;
}
.thumbnails .slick-slide img,
.thumbnails .slick-track:first-child,
.thumbnails .slick-list {
    height: 85px;
}
.related-car-item,
.related-car-item img,
.related-car-options {
    width: 100%!important;
	height: auto;
}
.related-car-item {
	margin-top: 25px;
}
.related-car-price {
    top: 240px!important;
}
.related-car-item:nth-child(2n+1) {
	margin-right: 0px;
}
.related-car-options span:nth-child(1), .related-car-options span:nth-child(2) {
    padding: 15px 7px!important;
}
.logo-footer, .top-brand, .categories-footer {
    margin-right: 15px;
}
.footer ul li,
.address,
.logo-foot {
    width: 100%;
}
.address {
	margin: 10px 0px;
}
.options .right {
	float: none;
}
.options div a {
    margin-right: 30px;
}
.tab .tablinks {
	width: 94.5%;
    margin-left: 15px;
}
.tabcontent {
    padding: 45px 15px;
}
.car-more-function-list li {
    width: 100%;
}
.car-slider-item .price {
	text-align: center;
}
.related-car-item:nth-child(n+3) {
    display: none;
}
.related-car-options span:nth-child(1), .related-car-options span:nth-child(2) {
    padding: 15px 50px!important;
}
.related-car-options span:nth-child(3) {
    padding: 15px 25px!important;
}
.related-car-options span:nth-child(4) {
    padding: 15px 32px!important;
}
.logo-footer,
.top-brand, 
.categories-footer,
.address-info-footer {
    width: 100%;
	margin: 0px;
	padding: 0 15px;
}
.logo-foot {
	width: 40%;
}
.footer ul li {
	width: auto;
    margin-right: 35px;
    padding-left: 25px;
}
.address {
	width: 100%;
}
.carrosserie button {
    margin-right: 0px; 
	width: 184px;
}
.cars-result .car-name {
    width: 40%!important;
}

	
}
/* for 580px or less */
@media screen and (max-width:580px) {
	
.header-img,
.navigation,
.footer,
#header,
#content,
body,
.menu,
.section,
.section-slider,
.main,
.slider-for img,
.car-slider-item,
.section-related-cars,
.related-car-item,
.related-car-item img,
.related-car-options,
.paginator-arrow {
	width: 300px!important;
}
.related-car-item {
	margin: 0px;
}
.section-slider,
.main,
.slider-for img {
	height: auto;
}
.slick-list:first-child,
.slick-track:first-child {
	height: 177px;
}
.thumbnails .slick-slide img,
.thumbnails .slick-track:first-child,
.thumbnails .slick-list {
    height: 85px;
}
.related-car-options span:nth-child(1), .related-car-options span:nth-child(2) {
    padding: 15px 20px!important;
}
.carrosserie button {
    width: 97px;
}
.section-find-car h1 {
    font-size: 31px;
}


	
}



