	<h1>Admin panel</h1>
	<ul class="admin">
		<li><a href="{$smarty.const.WEB_PATH}admin_panel/add_mark">Add new mark</a></li>
		<li><a href="{$smarty.const.WEB_PATH}admin_panel/add_model">Add new model</a></li>
		<li><a href="{$smarty.const.WEB_PATH}admin_panel/add_color">Add new color</a>
		<li><a href="{$smarty.const.WEB_PATH}admin_panel/add_carrosserie">Add new carrosserie</a></li>
		<li><a href="{$smarty.const.WEB_PATH}admin_panel/add_energie">Add new energie</a></li>
		<li><a href="{$smarty.const.WEB_PATH}admin_panel/add_boite">Add new boite</a></li>
	</ul>