<div id="header">
	
	
	<!-- SLIDER SECTION  -->
	<div class="top">
		<div class="section">
			
			<div class="logo_holder">
				<a class="logo" href="{$smarty.const.WEB_PATH}"></a>
			</div>
		
		
			<div class="contacts_holder">
				<ul>
					<li>+1 (123 123-45-67)</li>
					<li>Winter Juice LLC, East Grant Street, Suite 123, San Antoniom CA 98765</li>
				</ul>
			</div>
		
		
			<div class="icons_holder">
				<a class="fb_icon" href="{$smarty.const.WEB_PATH}"></a>
				<a class="twitter_icon" href="{$smarty.const.WEB_PATH}"></a>
				<a class="instagram_icon" href="{$smarty.const.WEB_PATH}"></a>
			</div>
		<div class="clear"></div>
	</div>
	</div>
	<div class="navigation">
		<div class="section">
			<ul class="menu">
				<a href="{$smarty.const.WEB_PATH}"><li>Homepage</li></a>
				<a href="{$smarty.const.WEB_PATH}search"><li>Search</li></a>
				<a href="{$smarty.const.WEB_PATH}blog"><li>Blog</li></a>
				<a href="{$smarty.const.WEB_PATH}publish"><li>Publish</li></a>
				<a href="{$smarty.const.WEB_PATH}contacts"><li>Contacts</li></a>
				<a href="{$smarty.const.WEB_PATH}admin_panel"><li>Admin panel</li></a>
			</ul>
		</div>
	</div>
	
	
	
	
	
	
</div>