<head>
	<title>Webi Абра Кадабра</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="shortcut icon" href="{$smarty.const.WEB_PATH}favicon.ico"/>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/respond.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/jquery.1.11.1.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/jssor.slider-26.1.5.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/slider.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}plugins/jquery.sumoselect/jquery.sumoselect.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/mySlider.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/global.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/pgwslideshow.min.js"></script>
	
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/reset.css" media="all"/>
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/global.css" media="all"/>
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/sumoselect.css" media="all"/>
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/pgwslideshow.min.css" media="all"/>
</head>

