<div class="footer">
	<div class="section">

		<div class="logo-footer left">
			<img class="logo-foot" src="{$smarty.const.WEB_PATH}images\icons\logo.png" alt="logo" />
			<br/><br/>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
				when an unknown printer took.
			</p>
			<br/>
			<div class="social-icon-footer">
				<img src="{$smarty.const.WEB_PATH}images\icons\fb-icon.png" alt="fb-icon" />
				<img src="{$smarty.const.WEB_PATH}images\icons\twitter-icon.png" alt="twitter-icon" />
				<img src="{$smarty.const.WEB_PATH}images\icons\in-icon.png" alt="in-icon" />
				<img src="{$smarty.const.WEB_PATH}images\icons\instagram-icon.png" alt="instagram-icon" />
				<img src="{$smarty.const.WEB_PATH}images\icons\soc-icon1.png" alt="soc-icon1" />
			</div>

		</div>
		
		<div class="top-brand left">
			<h3>TOP BRAND</h3>
			
			<ul>
				<li>Alfa Romeo</li>
				<li>Ferrari</li>
				<li>BMW Series</li>
				<li>Mercedes</li>
				<li>Aston Martin</li>
				<li>Toyota</li>
				<li>Opel</li>
				<li>Land Rover</li>
				<li>Mclaren</li>
				<li>Peogeot</li>
				<li>Renault</li>
				<div class="clear"></div>
			</ul>

		</div>
		
		<div class="categories-footer left">
			<h3>CATEGORIES</h3>
			
			<ul>
				<li>Trucks</li>
				<li>Sports Cars</li>
				<li>Crossovers</li>
				<li>Hybrid Cars</li>
				<li>Hybrid SUVs</li>
				<li>Future Cars</li>
			</ul>

		</div>
		
		<div class="address-info-footer left">
			<h3>ADDRESS INFORMATION</h3>
			<strong>Call us</strong> <strong style="color: #d01818;">(042) 789 35490</strong>
			<div class="email-foot">support@motorland.com</div>			
			<div class="address-foot">Fairview Ave, El Monte, CA, 91732</div>			
			<div class="time-foot">Mon - Fri: 0900am to 0600pm</div>

		</div>
		<div class="clear"></div>
	
	</div>
	
</div>
