<head>
	<title>Cars</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="shortcut icon" href="{$smarty.const.WEB_PATH}favicon.ico"/>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/respond.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/jquery.1.11.1.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/timeout.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/jquery.2.1.3.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/slick.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/accordion.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/car-info-tabs.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/bootstrap-slider.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/global.js"></script>
	
	
	
	<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/slider.js"></script>
	
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/reset.css" media="all"/>
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/global.css" media="all"/>
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/bootstrap-slider.css" media="all"/>
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/slick1.5.9.min.css" media="all"/>
	<link rel="stylesheet" href="{$smarty.const.WEB_PATH}css/slick-theme.1.5.9.min.css" media="all"/>
</head>

