<div id="content">
<br/>			
   

<div class="left-sidebar section-slider">
	
	<h1>2018 BMW 4 Series</h1>
	<h2>AWD430i xSmart Drive Coupe</h2>
	<div class="options">
		<a href="#" class="address left">13165 N Auto Show Ave Surprise, AZ 85388</a>
		<div class="right">
			<a href="#" class="cars-compare">Add to Compare</a>
			<a href="#" class="car-brochure">Car Brochure</a>
			<a href="#" class="car-share">Share</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clearr"></div>
	
	<hr/>
	
	<!--SLIDER-->
	<div class="main">
	  <div class="slider slider-for">
		<div>
			<img src="{$smarty.const.WEB_PATH}images\hyundai.bmp" alt="car1" />
		</div>
		<div>
			<img src="{$smarty.const.WEB_PATH}images\lamburgini.jpg" alt="car2" />
		</div>
		<div>
			<img src="{$smarty.const.WEB_PATH}images\honda-civic.jpg" alt="car3" />
		</div>
		<div>
			<img src="{$smarty.const.WEB_PATH}images\lamburgini2.jpg" alt="car4" />
		</div>
		<div>
			<img src="{$smarty.const.WEB_PATH}images\lamburgini3.jpg" alt="car5" />
		</div>
		<div>
			<img src="{$smarty.const.WEB_PATH}images\lamburgini.jpg" alt="car6" />
		</div>
	  </div>
	  <div class="slider slider-nav thumbnails">
		<div class="thumbnails-item"><img src="{$smarty.const.WEB_PATH}images\hyundai.bmp" alt="car1" /></div>
		<div class="thumbnails-item"><img src="{$smarty.const.WEB_PATH}images\lamburgini.jpg" alt="car2" /></div>
		<div class="thumbnails-item"><img src="{$smarty.const.WEB_PATH}images\honda-civic.jpg" alt="car3" /></div>
		<div class="thumbnails-item"><img src="{$smarty.const.WEB_PATH}images\lamburgini2.jpg" alt="car4" /></div>
		<div class="thumbnails-item"><img src="{$smarty.const.WEB_PATH}images\lamburgini3.jpg" alt="car5" /></div>
		<div class="thumbnails-item"><img src="{$smarty.const.WEB_PATH}images\lamburgini.jpg" alt="car6" /></div>
	  </div>
	</div>
	
	<div class="section-overview">
		<button class="accordion active"><h2 style="font-weight: bold;">CAR OVERVIEW</h2></button>
		<div class="panel">
			<div class="header-overview">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			<p style="line-height: 24px;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			</p>	
		</div>

	</div>
	
	
	
	<div class="section-tabs">
		<div class="tab">
			<button class="tablinks activeTabs" onclick="openCity(event, 'SPECIFICATIONS')">SPECIFICATIONS</button>
			<button class="tablinks" onclick="openCity(event, 'TECHNICAL-DETAILS')">TECHNICAL DETAILS</button>
			<button class="tablinks" onclick="openCity(event, 'CONTACT')">CONTACT</button>
			<div class="clear"></div>
		</div>

		<!-- Tab content -->
		<div id="SPECIFICATIONS" class="tabcontent">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
			</p>
			<br/>
			<p>
				It is a long established fact that a reader will be distracted by the 
				readable content of a page when looking at its layout. The point of using 
				Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
				as opposed to using 'Content here, content here', making it look like readable English. 
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default 
				model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
			</p>
			<br/>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
			</p>
			<br/>
			<br/>
			
			<div class="car-more-function">
				<h3>MORE FEATURES</h3>
				
				<ul class="car-more-function-list">
					<li><span>Drivetrain Oil Cooler: Auxiliary</span></li>
					<li><span>Engine Alternator: 160 Amps</span></li>
					<li><span>Exterior Mirrors Manual Folding</span></li>
					<li><span>Seatbealts Warning Sensor</span></li>
					<li><span>Front Headrests Adjustable</span></li>
					<li><span>Cruise Control System</span></li>
					<li><span>Crumple Zones Front</span></li>
					<li><span>Roll Stability Control</span></li>
					<li><span>Multi Function Display</span></li>
					<li><span>ABS Brakes (4-wheel)</span></li>
					<li><span>Audio System 6 Speakers</span></li>
					<li><span>Electronic Brakeforce Distribution</span></li>
					<div class="clear"></div>
				</ul>
			</div>
			
		</div>

		<div id="TECHNICAL-DETAILS" class="tabcontent">
			<p>
				It is a long established fact that a reader will be distracted by the 
				readable content of a page when looking at its layout. The point of using 
				Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
				as opposed to using 'Content here, content here', making it look like readable English. 
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default 
				model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
			</p>
		</div>

		<div id="CONTACT" class="tabcontent">
			<p>
				It is a long established fact that a reader will be distracted by the 
				readable content of a page when looking at its layout. The point of using 
				Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
				as opposed to using 'Content here, content here', making it look like readable English. 
				Many desktop publishing packages and web page editors now use Lorem Ipsum as their default 
				model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
			</p>
			<br/>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
			</p>
		</div>
	</div>
	
	
</div>

<div class="right-sidebar">

	<div class="car-slider-item">
		<div class="price">
			<span style="font-size: 24px; margin-right: 7px;">$49,500</span> 
			<span style="font-size: 15px;"> MSRP $40,000</span>
		</div>
		<div class="car-slider-items-info">
			<div><span class="left">BODY</span><span class="right">SEDAN</span>
			<div class="clear"></div></div>
			<div><span class="left">YEAR</span><span class="right">2016</span><div class="clear"></div></div>
			<div><span class="left">MILEAGE</span><span class="right">20,300MI</span><div class="clear"></div></div>
			<div><span class="left">ENGINE</span><span class="right">5.7L V8</span><div class="clear"></div></div>
			<div><span class="left">TRANSMISSION</span><span class="right">AUTO 8-SPEED</span><div class="clear"></div></div>
			<div><span class="left">FUEL</span><span class="right">HYBIRD</span><div class="clear"></div></div>
			<div><span class="left">COLORS</span><span class="right">BROWN, BLACK</span><div class="clear"></div></div>
			<div><span class="left">DRIVE TRAIN</span><span class="right">4X2</span><div class="clear"></div></div>
			<div><span class="left">STOCK #</span><span class="right">CXH207</span><div class="clear"></div></div>
		</div
	</div>
	
	<div class="car-economy-section">
		<span class="economy">Economy</span>
		<div class="economy-right">
			<span class="economy-value">16 </span><span class="economy-valueTxt">CITY</span>
			<span class="economy-value">24 </span><span class="economy-valueTxt">HWY</span>
		</div>
	</div>
	
	<div class="vehicle-demand-section">
		<span class="vehicle-demand">Vehicle Demand</span>
		<span class="vehicle-demand-valueTxt economy-right">HIGH</span>
	</div>
	
	<div class="call-dealer">
		<div class="name">Call Dealer</div>
		<div class="phone">1-820-431-5815</div>
	</div>
	
	<div class="finance-calc">
		<div class="finance-calc-header">
			<h3>FINANCE CALCULATOR</h3>
			<div>Calculate The Car Financing</div>
		</div>
		
		<form method="get" action="{site_url('')}">
			<div class="finance-calc-group">
				<label>VEHICLE PRICE($)</label><br/>
				<input type="text" name="vihicle-price" placeholder="$28.600" value="">
			</div><br/><br/>	
			
			<div class="finance-calc-group">
				<label>INTEREST RATE (%)</label><br/>
				<input type="text" name="vihicle-price" placeholder="10%" value="">
			</div><br/><br/>
				
			<div class="finance-calc-group">
				<label>PERIOD IN MONTHS</label><br/>
				<input type="text" name="vihicle-price" placeholder="15 Months" value="">
			</div><br/><br/>	
				
			<div class="finance-calc-group">
				<label>DOWN PAYMENT</label><br/>
				<input type="text" name="vihicle-price" placeholder="$5,000" value="">		
			</div><br/><br/>	
						
			<input type="submit" class="btn btn-primary" value="CAUCULATE" />
			
		</form>
		
		
	</div>
	
	</div>

	</div>
	<div class="clear"></div>
	
	<div class="section-related-cars">
	
		<h1>Related Cars</h1>
		
			<div class="related-car-item">
				<img src="{$smarty.const.WEB_PATH}images\lamburgini.jpg" alt="car2" />
				<div class="related-car-price"><span>$45.000</span> <span>MSRP $27.000</span></div>
				<div class="related-car-options">
					<span>35,000 mi</span>
					<span>Model: 2017</span>
					<span>Auto</span>
					<span>320 hp</span>
					<div class="clear"></div>
				</div>
			
			<div class="section-overview">
			<button class="accordion active"><h2 style="font-weight: bold;">Toyota Avalon TX</h2></button>
				<div class="panel">
					<p style="line-height: 24px;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					</p>	
				</div>
			
			</div>
		</div>
		
		<div class="related-car-item">
			<img src="{$smarty.const.WEB_PATH}images\honda-civic.jpg" alt="car2" />
			<div class="related-car-price"><span>$45.000</span> <span>MSRP $27.000</span></div>
			<div class="related-car-options">
				<span>35,000 mi</span>
				<span>Model: 2017</span>
				<span>Auto</span>
				<span>320 hp</span>
				<div class="clear"></div>
			</div>
			
			<div class="section-overview">
			<button class="accordion active"><h2 style="font-weight: bold;">Toyota Avalon TX</h2></button>
				<div class="panel">
					<p style="line-height: 24px;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					</p>	
				</div>
			
			</div>
		</div>
		
		<div class="related-car-item">
			<img src="{$smarty.const.WEB_PATH}images\lamburgini2.jpg" alt="car2" />
			<div class="related-car-price"><span>$45.000</span> <span>MSRP $27.000</span></div>
			<div class="related-car-options">
				<span>35,000 mi</span>
				<span>Model: 2017</span>
				<span>Auto</span>
				<span>320 hp</span>
				<div class="clear"></div>
			</div>
			
			<div class="section-overview">
			<button class="accordion active"><h2 style="font-weight: bold;">Toyota Avalon TX</h2></button>
				<div class="panel">
					<p style="line-height: 24px;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					</p>	
				</div>
			
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	
	</div>
	
	<div class="paginator-arrow">
		<span class="left-arrow"><img src="{$smarty.const.WEB_PATH}images\icons\left-arrow.png" alt="left-arrow" /></span>
		<span class="right-arrow"><img src="{$smarty.const.WEB_PATH}images\icons\right-arrow.png" alt="right-arrow" /></span>
		<div class="clear"></div>
	</div>
    
</div>
	
        
