<div id="header">

	<img class="header-img" src="{$smarty.const.WEB_PATH}images\Header.png"/>
	<div class="navigation">
		<div class="section">
			<ul class="menu">
				<li>
					<a href="{$smarty.const.WEB_PATH}">
					<img src="{$smarty.const.WEB_PATH}images\home-icon.png"/>
					</a>
				</li>
				<li><a href="{$smarty.const.WEB_PATH}">Vehicle Inventry</a></li></a>
				<li><a href="{$smarty.const.WEB_PATH}search">Car Details - Search</a></li>
				<li><a href="{$smarty.const.WEB_PATH}admin_panel">Administrate panel</a></li>
			</ul>
		</div>
	</div>
	
	
	
	
	
	
</div>