body {
	font-family: Courier New;
}

header {
  margin: 20px 0px 30px;
}

a {
  color: #0000FF;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
	margin: 0 auto;
	width: 80%;
}

.login {
    box-sizing: border-box;
	margin: 0 auto;
	width: 320px;
}

.login input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.employee input,
.employee select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.employee input[type="submit"] {
	width: auto;
}

.employee label {
	display: block;
	margin-bottom: 2px;
}

.login div,
.employee div {
    margin-bottom: 10px;
}

.login span.errors,
.employee span.errors,
.login label.error,
.employee label.error {
	display: block;
	color: red;
}

ul.nav {
    list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
}

ul.nav li {
    display: inline-block;
	margin: 10px 15px 0px 0px;
}
ul.nav li a {
    margin-right: 15px;
}

ul.nav li:after {
    content: " » "
}

ul.nav li:last-child:after {
    content: ""
}

table {
    width:100%;
}

table, th, td {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
	background-color: black;
	color: white;
}

table .text-center {
	text-align: center;
}
.table thead th {
	border-color: black!important;
}

.message {
	padding: 5px;
	background-color: #ddd;
	margin-bottom: 10px;
}

h1 {
    margin-bottom: 40px!important;
}
.clear {
	clear: both;
}
#search,
#viewUsers {
	margin-bottom: 70px;
}
.serchSingle,
.searchAll {
	float: left
}
.paginator {
	margin: 0 auto;
	text-align: center;
}
.form-control {
	display: inline-block!important;
    width: auto!important;
}
#disabledSelect {
	margin-top: 20px;
	width: 220px!important;
}
.current {
    color: #0c73b6;
}
.next,
.prev {
    font-weight: bold;
    background-color: #fafafa;
    padding: 5px 13px;
    margin: 0px 13px;
}
.page-numbers {
    color: #454545;
    font-size: 20px;
}

@media screen and (max-width: 960px) {
	.serchSingle {
		margin-bottom: 40px;
	}
}