<div id="content">

	{include file="admin_menu.htm"}
	
	<div class="admin-form">
		<form method="post" action="{$smarty.const.WEB_PATH}admin_panel/add_car">
			<label><strong>Choose marque:</strong></label><br/>
			<select id="marque_id" style="width: 300px;" id="marque_id" class="select-control" name="add-marque">
				<!-- <option value="{$data.car.id}">{$data.car.name}</option> -->
				<option value=" - choose marque - "> - choose - </option>
	   			{foreach from=$marques item=marque}
   					<option value="{$marque.marque_id}">{$marque.marque_name}</option>
				{/foreach}
			</select>
			<span class="error">{$errors.marque}</span><br/><br/>
			
			
			
			
			<!-- za models -->
			
			<label><strong>Add new modele:</strong></label><br/>
			<select id="modele_id" style="width: 300px;" class="select-control" name="add-model">
				<!-- <option value="{$data.car.id}">{$data.car.name}</option> -->
				<option value=" - choose model - "> - choose - </option>
	   			{foreach from=$models item=model}
   					<option value="{$model.modele_id}">{$model.modele_name}</option>
				{/foreach}
			</select>
			<span class="error">{$errors.model}</span><br/><br/>
			
			
			
			<!-- za carroserie -->
			
			<label><strong>Add new modele:</strong></label><br/>
			<select style="width: 300px;" id="carrosserie_id" class="select-control" name="add-carrosserie">
				<option value=" - choose carrosserie - "> - choose - </option>
	   			{foreach from=$carrosseries item=carrosserie}
   					<option value="{$carrosserie.carrosserie_id}">{$carrosserie.carrosserie_name}</option>
				{/foreach}
			</select>
			<span class="error">{$errors.carrosserie}</span><br/><br/>
			
			
			<!-- za engine -->
			
			<label><strong>Add new modele:</strong></label><br/>
			<select style="width: 300px;" id="marque_id" class="select-control" name="add-engine">
				<option value=" - choose engine - "> - choose - </option>
	   			{foreach from=$engines item=engine}
   					<option value="{$engine.energie_id}">{$engine.energie_name}</option>
				{/foreach}
			</select>
			<span class="error">{$errors.engine}</span><br/><br/>
			
			<label><strong>Add new boite:</strong></label><br/>
			<select style="width: 300px;" id="boite_id" class="select-control" name="add-boite">
				<option value=" - choose engine - "> - choose - </option>
	   			{foreach from=$boites item=boite}
   					<option value="{$boite.boite_id}">{$boite.boite_name}</option>
				{/foreach}
			</select>
			<span class="error">{$errors.boite}</span><br/><br/>
			
			<label><strong>Add new color:</strong></label><br/>
			<select style="width: 300px;" id="couleur_id" class="select-control" name="add-color">
				<option value=" - choose engine - "> - choose - </option>
	   			{foreach from=$colors item=color}
   					<option value="{$color.couleur_id}">{$color.couleur_name}</option>
				{/foreach}
			</select>
			<span class="error">{$errors.color}</span><br/><br/>
			
			
			<input class="btn" type="submit" value="Add" />
		</form>
	</div>
	
	<div class="messageSend">{$messageModel.update}</div>
	<div class="messageSend messageDelete">{$messageModel.edit}{$messageModel.delete}</div>
	
	<table style="width: 100%; margin: 40px 0px;" border=1>
		<thead>
			<tr>
				<th>#</th>
				<th>Marks name</th>
				<th>Models name</th>
				<th>Carrosseries</th>
				<th>Energies</th>
				<th>Boites</th>
				<th>Color</th>
				<th>Date modified</th>
				<th>Delete</th>
			</tr>
		</thead>
			
		<tbody>
			{foreach from=$data.results item=car}
			<tr>
				<td><a href="{$smarty.const.WEB_PATH}admin_panel/edit_car/{$car.vehicule_id}">{$car.vehicule_id}</a></td>
				<td>{$car.marque_name}</td>
				<td>{$car.modele_name}</td>
				<td>{$car.carrosserie_name}</td>
				<td>{$car.energie_name}</td>
				<td>{$car.boite_name}</td>
				<td>{$car.couleur_name}</td>
				<td>{$car.vehicule_date_modified}</td>
				<td style="text-align: center; color: red;">
					<strong><a style="color: red;" href="{$smarty.const.WEB_PATH}admin_panel/delete_car/{$car.vehicule_id}">X</a></strong>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	
	{$data.links}
	
</div>