<div id="content">
	
	<div class="section-find-car">
		<h1>Find Your Dream Car</h1>
		<p style="color: #8696af;">Tempor incididunt labore dolore magna aliqua sed ipsum</p>
		<br/>
		<p><img src="{$smarty.const.WEB_PATH}images\icons\horisontal-linies-marker.png" alt="horisontal-linies-marker" /></p>
		<br/>
		<br/>
		
		<div class="carrosserie">
			<!-- da gi napravq na butoni koito da filtrirat po na dolu kolite - ajax -->
			
			<button class="pickup">PICKUP</button>
			<button class="suv">SUV</button>
			<button class="coupe">COUPE</button>
			<button class="convertible">CONVERTIBLE</button>
			<button class="sedan">SEDAN</button>
			<button class="minicar">MINICAR</button>
			
		</div>
		
		<div id="search-form">

	
			<form method="get" ">
				
				<div class="form-group">
					<select id="marque_id" class="select-control" name="marques">
						<option value="{$data.car.id}">{$data.car.name}</option>
						<option value="0"> Select Brand </option>
			   			{foreach from=$marques item=marque}
		   					<option value="{$marque.marque_id}">{$marque.marque_name}</option>
						{/foreach}
					</select><br/>
				</div>	
				
				<div class="form-group">
					<select id="modele_id" class="select-control" name="models">
						<option value="{$data.model.id}">{$data.model.name}</option>					
						<option value="0">Select Model</option>
			   			{foreach from=$models item=model}
		   					<option value="{$model.modele_id}">{$model.modele_name}</option>
						{/foreach}
					</select><br/>
				</div>
				
				<div class="form-group">
					<select id="engine_id" class="select-control" name="engines">
						<option value="{$data.engine.id}">{$data.engine.name}</option>
						<option value="0">Select Engine</option>
			   			{foreach from=$engines item=engine}
		   					<option value="{$engine.energie_id}">{$engine.energie_name}</option>
						{/foreach}
					</select><br/>
				</div>
			
				<div class="form-group">
	            	<input id="ex2" name="car-range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="80000" 
	            	data-slider-step="5" data-slider-value="[10000,70000]"/>
	            	<span>Price Range: </span><b>${$carRangeResult.carRange1}</b> - <b>${$carRangeResult.carRange2}</b> 
	            </div>
	            
	            <input type="submit" class="btn-search" value="SEARCH VEHICLE" />
	            <br/><br/>
	            <p><strong>10</strong> <span>cars found</span></p>
	            				
			</form>
		</div>	
	</div>

	{if !empty($data.sectionResultShow)}
	<div class="section-result">
		{foreach from=$results item=car}
		<div class="cars-result">
				<img class="left" src="{$smarty.const.WEB_PATH}images\hyundai.bmp" alt="car1">
				<div class="car-name left">{$car.modele_name}</div>
				<div class="car-price right">{$car.vehicule_price}</div>
				<div class="clear"></div>
		</div>	
		{/foreach}
	</div>
	{/if}
	
</div> <!-- CONTENT DIV!!! -->