<div id="content">

	{include file="admin_menu.htm"}
	
	<div class="admin-form">
		<form method="post" action="{$smarty.const.WEB_PATH}admin_panel/add_color">
			<label><strong>Add new color:</strong></label><br/><br/>
			<input type="text" placeholder="add couleur" name="add-color" />
			<span class="error">{$errors.color}</span><br/><br/>
			<input class="btn" type="submit" value="Add" />
		</form>
	</div>
	
	<div class="messageSend">{$messageColor.update}</div>
	<div class="messageSend messageDelete">{$messageColor.edit}{$messageColor.delete}</div>
	
	<table style="width: 100%; margin: 40px 0px;" border=1>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Date created</th>
				<th>Date modified</th>
				<th>Delete</th>
			</tr>
		</thead>
			
		<tbody>
			{foreach from=$data.results item=color}
			<tr>
				<td><a href="{$smarty.const.WEB_PATH}admin_panel/edit_color/{$color.couleur_id}">{$color.couleur_id}</a></td>
				<td>{$color.couleur_name}</td>
				<td>{$color.couleur_date_created}</td>
				<td>{$color.couleur_date_modified}</td>
				<td style="text-align: center; color: red;">
					<strong><a style="color: red;" href="{$smarty.const.WEB_PATH}admin_panel/delete_color/{$color.couleur_id}">X</a></strong>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	
	{$data.links}
	
	
</div>