<div id="content">

	{include file="admin_menu.htm"}
	
	<div class="admin-form">
		<form method="post" action="{$smarty.const.WEB_PATH}admin_panel/add_boite">
			<label><strong>Add new boite:</strong></label><br/><br/>
			<input type="text" placeholder="add boite" name="add-boite" />
			<span class="error">{$errors.boite}</span><br/><br/>
			<input class="btn" type="submit" value="Add" />
		</form>
	</div>
	
	<div class="messageSend">{$messageBoite.update}</div>
	<div class="messageSend messageDelete">{$messageBoite.edit}{$messageBoite.delete}</div>
	
	<table style="width: 100%; margin: 40px 0px;" border=1>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Date created</th>
				<th>Date modified</th>
				<th>Delete</th>
			</tr>
		</thead>
			
		<tbody>
			{foreach from=$data.results item=boite}
			<tr>
				<td><a href="{$smarty.const.WEB_PATH}admin_panel/edit_boite/{$boite.boite_id}">{$boite.boite_id}</a></td>
				<td>{$boite.boite_name}</td>
				<td>{$boite.boite_date_created}</td>
				<td>{$boite.boite_date_modified}</td>
				<td style="text-align: center; color: red;">
					<strong><a style="color: red;" href="{$smarty.const.WEB_PATH}admin_panel/delete_boite/{$boite.boite_id}">X</a></strong>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	
	{$data.links}
	
	
</div>